
<nav id="nav">
 <ul>
  <li>
   <a class="active newclass" href="https://appseed.us/html-parser">
    {{var_1}}
   </a>
  </li>
  <li>
   <a href="#first">
    {{var_2}}
   </a>
  </li>
  <li>
   <a href="#second">
    {{var_3}}
   </a>
  </li>
  <li>
   <a href="#cta">
    {{var_4}}
   </a>
  </li>
 </ul>
</nav>
